@use 'helpers' as *;

.button_other_section {
  padding: 20px 28px;
  max-width: 213px;
}

.section_first {
  max-width: 648px;
  margin: 24px 0px 32px 0px;
  float: left;
}

.relative {
  position: relative;
}

.card {
  max-width: 584px;
  background: $card-background;
  padding: 44px 32px 44px 32px;
}

.side_left {
  padding: 220px 0px 120px 300px;
}

.bgr_section_third {
  background-image: url(../img/render-1477041_12801.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bgr_fifth_section {
  background-image: url(../img/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.text_first_section {
  position: absolute;
  left: 300px;
  top: 190px;
  display: flex;
  flex-direction: column;
}

.first_section {
  align-items: center;
  background-position: center;
  height: 702px;
}

.bgr_first_section {
  background-image: url(../img/WhyBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bgr_section_fourth {
  background-image: url(../img/spain-1859434_12801.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1800px) {
  .text_first_section {
    left: 110px;
  }
}

@media screen and (max-width: 1440px) {
  .section_first {
    max-width: 558px;
  }

  .side_left {
    padding: 220px 0px 120px 110px;
  }
}

@media screen and (max-width: 1360px) {
  .first_section {
    background-image: url(../img/1360/WhyBackground.png);
  }

  .section_third {
    background-image: url(../img/1360/render-1477041_12801.png);
  }

  .section_fourth {
    background-image: url(../img/1360/spain-1859434_12801.png);
  }

  .card {
    max-width: 494px;
  }

  .fifth_section {
    background-image: url(../img/1360/BG.png);
  }

  .side_left {
    padding: 170px 0px 170px 32px;
  }
}

@media screen and (max-width: 1250px) {
  .text_first_section {
    left: 32px;
  }

  .card {
    max-width: 486px;
  }
}

@media screen and (max-width: 1024px) {
  .section_third {
    background-image: url(../img/1024/render-1477041_12801.png);
  }

  .section_fourth {
    background-image: url(../img/1024/spain-1859434_12801.png);
  }
}

@media screen and (max-width: 992px) {
  .text_first_section {
    text-align: center;
    position: static;
    align-items: center;
  }

  .first_section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 32px;
  }
  
  .fifth_section {
    background-image: url(../img/768/BG.png);
  }

  .section_first {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .side_left {
    padding: 120px 24px;
  }

  .card {
    max-width: 720px;
  }

  .section_third {
    background-image: url(../img/768/render-1477041_12801.png);
  }
}

@media screen and (max-width: 655px) {
  .side_left {
    padding: 80px 10px;
  }

  .first_section {
    gap: 15px;
  }
}