@use 'helpers' as *;

h1 {
  font-family: $main_font-family_text;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: $main_color_text;
  margin: 295px 0px 8px 0px;
}

p {
  font-family: $main_font-family_text;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
  color: $main_color_text;
  margin-bottom: 48px;
}

.text_button {
  font-family: $minor_font-family_text;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $main_color_text;
}

.header_btn_text {
  font-size: 14px;
}

.other_btn_text {
  font-size: 16px;
}

small {
  font-family: $main_font-family_text;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: $main_color_text;
}

h2 {
  font-family: $main_font-family_text;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $main_color_text;
  height: 20px;
}

h5 {
  font-family: $minor_font-family_text;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $main_color_text;
}

.text {
  font-family: $main_font-family_text;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: $main_color_text; 
}

.under_heading {
  font-size: 16px;
}

.top_heading {
  font-size: 20px;
}

h3 {
  font-family: $main_font-family_text;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: $main_color_text;
  margin: 16px 0px 16px 0px;
}

@media screen and (max-width: 655px) {
  .section_first {
    line-height: 20px;
    margin: 10px 0px 20px 0px;
  }
}