//Colors-Text
$main_color_text: #FFFFFF;

//Colors-layout
$main_color_layout: #5373FD;

//Font-Family
$main_font-family_text: 'Josefin Sans', sans-serif;
$minor_font-family_text: 'Aleo', serif;

//Background
$card-background: rgba(35, 35, 35, 0.9);